[access]
	inheritFrom = All-Projects
[project]
	description = ???????????????????
[access "refs/*"]
	owner = group user/shengulong
[access "refs/for/refs/*"]
	read = group user/shengulong
	push = group user/shengulong
	label-Code-Review = -2..+2 group user/shengulong
	label-Verified = -1..+1 group user/shengulong
	rebase = group user/shengulong
	removeReviewer = group user/shengulong
	submit = group user/shengulong
[access "refs/heads/*"]
	read = group user/shengulong
	create = group user/shengulong
	push = +force group user/shengulong
	pushMerge = group user/shengulong
[access "refs/tags/*"]
	push = group user/shengulong
	push = +force group user/shengulong
